body{
    font-family: 'Poppins', sans-serif;
    margin: 0;

}

.top-banner{
    height: 500px;
    background-image: url(Images/top-banner.png);
    background-repeat: no-repeat;
    padding-bottom: 120px;
}

h1{
    font-size: 50px;
    margin-top: 5px;
}

h2{
    font-size: 30px;
    margin-bottom: 5px;
}

.orange-highlight{
    color: #ffa500;
}

p{
    color: dimgray;
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    padding-bottom: 0px;
}

.profile1{
    width: 80%;
    margin-left: 10%;
}

.profile2{
    width: 80%;
    margin-left: 10%;
}

.btn {
    background: #FF7052;
    background-image: -webkit-linear-gradient(top, #FF7052, #FF7052);
    background-image: -moz-linear-gradient(top, #FF7052, #FF7052);
    background-image: -ms-linear-gradient(top, #FF7052, #FF7052);
    background-image: -o-linear-gradient(top, #FF7052, #FF7052);
    background-image: linear-gradient(lightSalmon, tomato);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 7px;
    font-family: Arial;
    color: white;
    font-size: 18px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: none;
    width: 120px;
    
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }

  .become{
    color: #ffa500;
  }

  .dream-area{
      height: 500px;
      background-image: url(Images/dream-bg.png);
      background-repeat: no-repeat;
      background-position: right;
      padding-bottom: 50px;
      
  }

  .experience-area{
    height: 500px;
    background-image: url(Images/exp-bg.png);
    background-repeat: no-repeat;
    background-position:left;
  }
.experience{
    font-size: 40px;
}

.single-experience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    height: 70%;

}
#full-stack{
    border-left: 7px solid tomato;
}

#baby{
    border-left: 7px solid blue
}